---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/app.css'

import type { SiteMeta } from '@/types'
import { siteConfig } from '@/site-config'

type Props = SiteMeta

const { description, title } = Astro.props

const titleSeparator = '•'
// const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
const siteTitle = title === 'Home' ? siteConfig.title : `${title} ${titleSeparator} ${siteConfig.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
// const socialImageURL = new URL(ogImage ? ogImage : '/social-card.png', Astro.url).href
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link rel="icon" sizes="any" href="https://cdn.sunyz.net/favicons/favicon.ico" />
<link rel='icon' type='image/png' sizes='16x16' href='https://cdn.sunyz.net/favicons/16x16.png' />
<link rel='icon' type='image/png' sizes='32x32' href='https://cdn.sunyz.net/favicons/32x32.png' />
<link rel='icon' type='image/png' sizes='512x512' href='https://cdn.sunyz.net/favicons/512x512.png' />
<link rel='apple-touch-icon' sizes='180x180' href='https://cdn.sunyz.net/favicons/apple-touch-icon.png' />

{/* Font preloads */}
<link rel='preload' href='https://cdn.sunyz.net/fonts/Satoshi-Variable.woff2' as='font' type='font/woff2' crossorigin />
<!-- <link rel='preload' href='https://cdn.sunyz.net/fonts/Satoshi-VariableItalic.woff2' as='font' type='font/woff2' crossorigin/> -->

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link href='/rss.xml' rel='alternate' title={siteConfig.title} type='application/rss+xml' />